# Top level CODEOWNERS file
# see https://help.github.com/articles/about-codeowners/ for details on how this works
# feel free to add owners for various parts of the code base
#

# Primary reviewers
# * users go here

# Keep the pipeline owner at the bottom of the file to ensure
# devops / build stuff gets reviewed
pipeline/*  @ericn-clover
build.gradle    @ericn-clover
settings.gradle @ericn-clover
